/************
Userpoint CSS
*************/
.userpoints_profile {
	font-weight: bold;
	padding: 3px 0 3px 5px;
	background: white;
}

/***************** 
Userpoints widgets
******************/
#userpoints_mypoints_widget_container {
	text-align:left;
}

#userpoints_toppoints_widget_container {
	text-align:left;
}

.elggx_userpoints_actions h3 {
	color:#4690D6;
}
.elggx_userpoints_actions label {
	font-size:12px;
}
